# 빌드 산출물
.next/
out/
build/
dist/

# 의존성
node_modules/

# 설정 파일
next.config.js
next-env.d.ts
postcss.config.mjs
tailwind.config.js

# 정적 파일
public/
assets/
*.svg
*.ico
*.json
*.md
*.lock
pnpm-lock.yaml
