@import 'tailwindcss';
@import './font-tokens.css';
@import './color-tokens.css';

html,
body {
  font-family:
    NanumSquare Neo,
    Pretendard,
    sans-serif;
}

.react-modal-sheet-header {
  padding: 0.65rem 0 !important;
  height: auto !important;
}

.react-modal-sheet-container {
  height: auto !important;
}

@layer base {
  button,
  a {
    @apply cursor-pointer;
  }
}
